<div class="container mt-4">


  <!-- search bar -->
  <div class="row mb-4" id="select-bar">
    <div class="col-12">
      <form action="/search">
        <select class="form-select" aria-label="Default select example">
          <option selected>類別</option>
          <option value="1">家居物業</option>
          <option value="2">旅遊出行</option>
          <option value="3">休閒娛樂</option>
          <option value="4">餐飲食品</option>
          <option value="5">其他</option>
        </select>
      </form>
    </div>
  </div>


  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th scope="col" colspan="2">總金額：</th>
        <th scope="col" colspan="3" style="text-align: end;">Handle</th>
        <th scope="col" colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td colspan="3">午餐吃漢堡</td>
        <td style="text-align: end;">60元</td>
        <td> </td>
        <td><button>修改</button></td>
        <td><button>刪除</button></td>
      </tr>
      <tr>
        <td>1</td>
        <td colspan="3">午餐吃漢堡</td>
        <td style="text-align: end;">60元</td>
        <td> </td>
        <td><button>修改</button></td>
        <td><button>刪除</button></td>
      </tr>
      <tr>
        <td>1</td>
        <td colspan="3">午</td>
        <td style="text-align: end;">60元</td>
        <td> </td>
        <td><button>修改</button></td>
        <td><button>刪除</button></td>
      </tr>
    </tbody>
  </table>


</div>