<div class="container mt-4">

  <div class="row">
    <div class="col-12 m-auto">

      <form method="POST" action="/record/new">
        <div class="row col-12 mb-3">
          <label class="col-2 col-form-label">*必填欄位</label>
          <div class="col-6">
            <h5 style="display:inline;">
              請輸入你的支出
            </h5>
          </div>

        </div>
        <div class="row col-12 mb-3">
          <label for="inputPassword" class="col-2 col-form-label">名稱<span style="vertical-align: top;">*</span>：
          </label>
          <div class="col-6">
            <input type="text" class="form-control" id="name" name="name">
          </div>
        </div>

        <div class="row col-12 mb-3">
          <label for="date" class="col-2 col-form-label">日期<span style="vertical-align: top;">*</span>：
          </label>
          <div class="col-6">
            <input type="date" class="form-control" id="date" name="date">
          </div>
        </div>


        <div class="row col-12 mb-3">
          <label for="amount" class="col-2 col-form-label">類別<span style="vertical-align: top;">*</span>：
          </label>

          <div class="col-6">
            <select class="form-select form-select" name="amount" id="amount">
              <option value="1">家居物業</option>
              <option value="2">旅遊出行</option>
              <option value="3">休閒娛樂</option>
              <option value="4">餐飲食品</option>
              <option value="5">其他</option>
            </select>
          </div>
        </div>


        <div class="row col-12 mb-3">
          <label for="amount" class="col-2 col-form-label">金額<span style="vertical-align: top;">*</span>：
          </label>
          <div class="col-6">
            <input type="number" class="form-control" id="amount" name="amount">
          </div>
        </div>

        <div class="row col-3 m-auto mb-3">
          {{!-- <div class="col-6 m-auto"> --}}
            <button class="btn btn-outline-dark" type="submit">新增支出</button>
            {{!--
          </div> --}}
        </div>


      </form>
    </div>
  </div>

</div>